<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吃瓜主页</title>
</head>
<body>
    <h1>主页</h1>
    <h1>Hello {{ user.username }}</h1>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>
    <br>
    {% if user is none %}
        <a href="/login">Login</a>
    {% endif %}
    <a href="/register">Register</a>
    {% if user is not none %}
        <a href="/profile">我的个人信息</a>
        <a href="/weibo/index?user_id={{ user.id }}">我的微博</a>
        <a href="/todo">我的 todo</a>
    {% endif %}

    <hr>

    <div>
        所有微博:<br>
        <ul>
        {% for u in users %}
            <li>
                <a href="/weibo/index?user_id={{ u.id }}">{{ u.username }}的微博</a>
                <br>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>