<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO 程序</title>
</head>
<body>
    <h1>TODO</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>
    <div>
        <h3>
            {% for todo in todos %}
                {{ loop.index }}. {{ todo.title }}
                <a href="/todo/edit?id={{ todo.id }}">编辑</a>
                <a href="/todo/delete?id={{ todo.id }}">删除</a>
            {% endfor %}
        </h3>
    </div>
    <a href="/">返回主页</a>
</body>
</html>
