<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>例子 1</title>
    </head>
    <body>
        <h1>Message</h1>
        <form action="/messages" method="post">
            message<textarea name="message"></textarea>
            author<textarea name="author"></textarea>
            <button type="submit">POST 提交</button>
        </form>
        <form action="/messages" method="get">
            <textarea name="message"></textarea>
            <button type="submit">GET 提交</button>
        </form>
    {{messages}}
    </body>
</html>
